<div
    class="flex items-center justify-between bg-gray-800 py-5 px-5 md:px-5 lg:px-10 h-[3rem] md:h-[4.5rem] fixed w-full z-[100]">
    <!-- Brand -->
    <div class="flex gap-1 items-center">
        <img src="../../../../assets/logo.png" alt="logo" class="h-[1.85rem] md:h-[2.5rem]">
        <p class="font-lora text-gray-100 font-semibold text-lg md:text-2xl">
            Tracking Resiku
        </p>

        <!-- Menu -->
        <!-- <div class="flex items-center gap-5">
            <span class="text-gray-100 cursor-pointer">
                Home
            </span>
        </div> -->
    </div>

    <!-- Search -->
    <!-- <div class="flex pr-10">
        <span class="cursor-pointer text-white">
            <i class="pi pi-search"></i>
        </span>
    </div> -->
</div>